@import url(app.css);

.activity-card {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.activity-card-date {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
  background-color: rgba(230, 230, 230, 0.422);
  border-radius: 10px;
  width: 60px;
  height: 50px;
}

.date {
  font-weight: 500;
}

.month {
  font-size: 0.8rem;
}
