@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Roboto", sans-serif;
  --blue-color: rgb(91, 140, 255);
  --dark-blue: rgb(11, 11, 47);
  --shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--dark-blue);
}

a {
  text-decoration: none;
}

.light-text {
  color: rgb(165, 165, 165);
}

.change {
  padding: 0.1rem 0.6rem;
  border-radius: 10px;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.increment {
  background-color: rgba(107, 201, 107, 0.2);
  color: green;
}

.decrement {
  background-color: rgba(197, 120, 120, 0.2);
  color: red;
}

.card-heading {
  font-weight: 500;
}
