@import url(app.css);

.sidebar {
  height: 100vh;
  position: relative;
  padding: 2rem 3rem 0 0;
}

.sidebar-menu {
  font-size: 1.4rem;
  position: absolute;
  top: 2%;
  right: 10%;
  cursor: pointer;
}

.sidebar-container {
  height: 100%;
}

.sidebar-box {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-heading {
  color: rgb(105, 121, 146);
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 1px;
}

.nav-link {
  display: flex;
  color: rgb(124, 139, 164);
  align-items: center;
}

.nav-link:hover {
  color: rgb(167, 177, 194);
}

.dashboard {
  color: white;
}

.nav-icon {
  margin-right: 0.5rem;
}

.nav-link span {
  text-transform: capitalize;
}

@media screen and (max-width: 900px) {
  .sidebar {
    position: sticky;
    top: 0%;
  }
}
